Host/data
Host/ins.reg
Host/__pycache__/
Host/downloads
Host/archive.txt
jquery-3.5.1.min.js
inject.js
/ignorethese
Host/gt_caps.py
Host/log.txt
experiment.html
experiment.js
experiment.py
google_translate.js
ig_likes.json
